.social_icons {
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 5px;
  }
  .social_icons svg {
    font-size: 16px;
    color: #fff;
  }
  
  .social_icons:hover{
      border: 2px solid var(--primary_color);
  }