.howitworks_section_wrapper {
    padding: 100px 80px;
  }
  .howitworks_container {
    padding: 0 !important;
  }
  .howitworks_row_wrapper {
    margin-top: 60px!important;
  }
  
  @media screen  and (max-width: 689px) {
      .howitworks_section_wrapper{
          padding: 100px 30px;
      }
  }