.mobile_drawer {
  position: relative;
  /* height: 100vh; */
}

.dashboard__mobile_header_wrapper {
  display: none !important;
}

.dashboard__mobile_header_wrapper {
  color: #fff;
  width: 100%;
  background-color: var(--background_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 10px;
  position: sticky !important;
  top: 0px;
  z-index: 99;
}
.dashboard_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(66, 170, 255, 0.32);
  border: 3px solid var(--primary_color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media screen and (max-width: 680px) {
  .dashboard__mobile_header_wrapper {
    display: flex !important;
  }
}
