:root {
  --primary: #40a9ff;
  --secondary: #52c41a;
  --tertiary: #000000;
  --transparent: #606263;
}

.Btn {
  padding: 8px 20px;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  border: 0;
  overflow: hidden;
  text-transform: capitalize;
  box-shadow: rgb(64, 169, 255) 0px 20px 30px -10px;
}


.Btn--primary {
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
}
.Btn--primary:hover {
  background-color: var(--primary);
}

.Btn--secondary {
  background: var(--secondary);
  color: #ffffff;
  padding: 8px 20px;
  border: 1px solid var(--secondary);
  border-radius: 20px;
}

.Btn--medium {
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 400;
}

.Btn--large {
  padding: 12px 18px;
  font-size: 20px;
}
.Btn--fullWidth {
  width: 100%;
}
