.navbar_wrapper {
  margin-right: 20px;
}
.nav_menu {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav_link {
  font-size: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: all .6s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.nav_link.active,
.nav_link:hover {
  color: #40A9FF;
}

@media screen and (max-width: 1005px) {
  .nav_link {
    padding-left: 10px;
    padding-right: 0px;
    font-size: 18px;
  }
}
@media screen and (max-width: 920px) {
  .nav_link {
    padding-left: 10px;
    padding-right: 0px;
    font-size: 16px;
  }
}
@media screen and (max-width: 689px) {
  .nav_link {
    padding-left: 10px;
    padding-right: 0px;
    font-size: 14px;
  }
}


@media screen and (max-width: 599px) {
  .navbar_wrapper {
    position: absolute;
    margin: 8px 0px;
    text-align: center;
    display: none;
    background-color: #000000e7;
    width: 100%;
  }
  .navbar_wrapper.menuOpen {
    display: block;
    position: fixed;
    top: 70px;
    z-index: 99;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--box_shadow);
  }
  .nav_menu {
    flex-direction: column;
  }
  .nav_link {
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    color: #fff;
    border-bottom: 1px solid rgba(170, 170, 170, 0.247);
  }

  .nav_link.active {
    color: var(--primary_color);
  }
  .nav_menu li a {
    border-right: none!important;
  }
}
