.homepage_wrapper{
    color: #fff;
}
.home_top_bar {
    padding: 20px;
    height: 85vh;
    position: relative;
    background: url("../../assets/Mask-Group.png") no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-color: #000000;
}

