.dashboard_page_wrapper {
  width: 100%;
  background-color: var(--secondary_color);
  padding: 0 !important;
}
.ice__dashboard_wrapper {
  margin: 0 !important;
}
.menu__wrapper,
.selected_menu_item_wrapper {
  min-height: 500px;
  box-sizing: border-box;
}
.menu__wrapper {
  min-height: 100vh;
  background-color: var(--background_color);
  padding: 20px !important;
}
.selected_menu_item_wrapper {
  padding: 40px 30px!important;
  color: #fff;
}
.selected_menu_item_title h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.dashboard__mobile_header_wrapper {
  color: #fff;
  width: 100%;
  background-color: var(--background_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}
.dashboard_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(66, 170, 255, 0.32);
  border: 3px solid var(--primary_color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media screen and (max-width: 680px) {
  .menu__wrapper {
    display: none;
  }
  .dashboard_page_wrapper {
    padding: 0px;
  }
  .menu__wrapper {
    min-width: 100%;
    margin-right: 0px;
  }
}
