.benefits_card_wrapper {
  padding: 5px;
}
.benefits_card {
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.benefits_card_content_wrapper h5{
    color: #000000;
    
}