.benefits_section_wrapper {
  padding: 60px 80px 20px;
}
.benefits_container {
  padding: 0 !important;
}
.benefits_row_wrapper {
  margin-top: 60px!important;
}


@media screen  and (max-width: 689px) {
    .benefits_section_wrapper{
        padding: 80px 30px 20px;
    }
}