.rental_table {
  background-color: var(--background_color);
  border-radius: 20px;
  padding: 20px 20px;
  margin-top: 20px;
  user-select: none;
}

.tokens_actions_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--tartiary_color);
  font-family: "Poppins", sans-serif;
  padding: 80px 0 0;
  overflow-x: auto;
}

.displayed_transactions_count h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.transaction_pagination_wrapper{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 798px) {
  .tokens_actions_wrapper {
    flex-direction: column;
  }
}
