.faqs_section_wrapper {
  padding: 60px 80px 20px;
}
.faqs_row_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}
.faqs_list {
  width: 70%;
  padding-right: 60px;
}
.faqs__side_bunner {
  width: 30%;
}
.faqs__side_bunner img {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .faqs_section_wrapper {
    padding: 80px 30px;
  }
  .faqs_row_wrapper {
    flex-direction: column;
  }
  .faqs_list,
  .faqs__side_bunner {
    width: 100%;
  }
  .faqs_list {
    padding: 0;
    padding-bottom: 40px;
  }
  .faqs__side_bunner{
    padding: 30px;
  }
}
